[phases.setup]
nixPkgs = ['nodejs_20']

[phases.install]
cmds = [
  'corepack enable', 
  'corepack prepare pnpm@9.1.0 --activate', 
  'pnpm install --frozen-lockfile'
]

[phases.build]
cmds = [
  'cd apps/api && pnpm prisma generate',
  'cd apps/api && pnpm build'
]

[start]
cmd = 'cd apps/api && npx prisma migrate deploy && node dist/main.js'
