[[services]]
name = "Themis"
source = "."
watch = ["apps/web/**"]

[services.build]
builder = "NIXPACKS"
buildCommand = "cd apps/web && pnpm install && pnpm build"

[services.deploy]
startCommand = "cd apps/web && pnpm start"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
